<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AFJ Farms</title>
    <!-- <link rel="icon" href="images/favicon.ico" type="image/x-icon"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Quicksand:wght@500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/aos/aos.css">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://use.fontawesome.com/c7e51daf24.js"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>

  <body>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope-fill"></i><a href="mailto:info@afjfarms.com">info@afjfarms.com</a>
          <i class="bi bi-phone-fill phone-icon"></i> +2348098556584
        </div>
        <div class="social-links d-none d-md-block">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>

        <div class="contact-info">
          <i class="bi bi-person-circle"></i><a href="#">My Account</a>
        </div>
      </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="index.html">AFJ Farms</a></h1>
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="index.html">Home</a></li>
            <li><a class="nav-link scrollto active" href="about.html">About</a></li>
            <li><a class="nav-link scrollto" href="products.html">Products</a></li>
            <li><a class="nav-link scrollto" href="contact.html">Contact</a></li>
						<div class="col-md-3 clearfix">
							<div class="header-ctn">

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart mb-2"></i>
										<span>Cart</span>
										<div class="qty">3</div>
									</a>
									<div class="cart-dropdown">
                    <div class="d-flex justify-content-end mb-2">
                      <a class="col-md-4 badge p-n4 bg-danger close-cart" ><i class="fa fa-close"></i>Close</a>
                    </div>
                    
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">
													<img src="assets/img/chicken.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">Chicken</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>$90.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="assets/img/egg.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">Egg</a></h3>
													<h4 class="product-price"><span class="qty">3x</span>$90.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

                      <div class="product-widget">
												<div class="product-img">
													<img src="assets/img/chicken.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">Chicken</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>$90.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										</div>
										<div class="cart-summary">
											<small>3 Item(s) selected</small>
											<h5>SUBTOTAL: $2940.00</h5>
										</div>
										<div class="cart-btns d-flex justify-content-center">
											<a href="#" class="mx-1">View Cart</a>
											<a href="#" class="mx-1">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

							</div>
						</div>
            
          </ul>
          <i class="bi bi-list-ul mobile-nav-toggle"></i>
          
        </nav><!-- .navbar -->

      </div>
    </header>
    <!-- End Header -->

    
     <section id="about_hero" class="d-flex align-items-center">
        <div class="container text-center" data-aos="zoom-out" data-aos-delay="500">
          <h1 class="">About Us</h1>
          <p class="text-white fw-bold lead">We are an industry leading poultry farm delivering high quality dairy and poultry products since 2011</p>
        </div>
      </section>

      <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb-tree">
                        <li><a href="index.html">Home</a></li>
                        <li>About</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>

    <section id="about" class="about shadow">
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
              <img src="assets/img/birds.png" class="img-fluid rounded-3" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
              <h3>Technology inclined Farming</h3>
              <p class="fst-italic">
               We set out to create a poultry farm that stands out from the others in 2011, AFJ Farms was created to inculcate latest technology into poultry farming and we have successfully done this in the following areas:
              </p>
              <ul>
                  <li class="bi bi-check-circle"> Chicken growth</li>
                  <li class="bi bi-check-circle"> Incubating eggs</li>
                  <li class="bi bi-check-circle"> Feed production</li>
              </ul>
            </div>
          </div>
  
        </div>
      </section>

    <div class="container">
        <div class="row my-5">
            <div class="col shadow">All content</div>
            <div class="col shadow">All content</div>
            <div class="col shadow">All content</div>
        </div>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">

            <div class="col-lg-6 col-md-12">
              <div class="footer-info">
                <h3>AFJ Farms</h3>
                <p>
                  A108 Adam Street <br>
                  Nigeria<br><br>
                  <strong>Phone:</strong> +2348098556584<br>
                  <strong>Email:</strong> info@afjfarms.com<br>
                </p>
                <div class="social-links mt-3">
                  <h5>Follow us on social media</h5>
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Company</h4>
              <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
                
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Account</h4>
              <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Track orders</a></li>
                
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Help center</h4>
              <ul>
                <li><a href="#">Support</a></li>
                <li><a href="#">Open dispute</a></li>
                <li><a href="#">Shipping info</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; 2021. All Rights Reserved AFJ Farms
        </div>
        <div class="text-center">
          Designed by <a href="luday.se" target="_blank" class="footer-design">Luday</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

  </body>
</html>