{% extends "base.html" %}
{% block content %}
  <p>Hi {{first_name}}</p>
  <p>Thank you for signing up on BestDealNaija, your number one (1) stop to finding best deals. You have one last step to discover amazing deals. </p>
  <p>Start exploring for free! <a href="http://bestdealvps.luday.se/products">CLICK ME</a> or copy and past this link into your browser:
    <br/>
  http://bestdealvps.luday.se/products</p>
  <p>We will check in with you again. Until then, enjoy finding the best deals</p>
  <p>Sincerely,</p>
  <p>BestDealNaija Team</p>
  <p><small>Note: replies to this email address are not monitored.</small></p>
{% endblock %}