{% extends "base.html" %}
{% block content %}
<p>Hi {{first_name}},</p>
<p>Thank you for shopping on BestDealNaija!</p>
<p>Your order {{order_id}} has been confirmed successfully.</p>
<p>It will be packed and shipped as soon as possible.You will receive a notification from us once the item (s) are available for door delivery or collection from your selected Pick-up station.</p>
<p>Take care,</p>
  <p>Sincerely,</p>
  <p>BestDealNaija Team</p>
  <p><small>Note: replies to this email address are not monitored.</small></p>
{% endblock %}