{% extends "base.html" %}
{% block content %}
<p>Hi {{first_name}},</p>
<p>Great news! Your Product {{product_name}} has been approved and has be listed on products/services page of BestDealNaija</p>
<p>click <a href="https://bestdealvps.luday.se/product-details/{{product_slug}}">Here</a> or copy and paste the link:
  <br/>
  https://bestdealvps.luday.se/product-details/{{product_slug}}
  <br/>
  into a browser to view product</p>
<p>If we notice any suspicius edit that does not follow our <a href="http://bestdealvps.luday.se/listing-policy"> product listing policy</a> we will unlist it immediately.</p>
<p>To ensure you gain the very best out of our service, we’ve put together some of the most helpful guides:</p>
<p>This video [LINK] walks you through setting up your products/services for the first time. Our <a href="http://bestdealvps.luday.se/blog">blog</a> has some great tips and best practices on how you can use and benefit from our services</p>
<p>Have any questions or need more information? Just shoot us an email! We’re always here to help. Feel free to send us an email on <a href="mailto:info@bestdealnaija.com">info@bestdealnaija.com</a> if you want a fast response.</p>
<p>Take care,</p>
  <p>Sincerely,</p>
  <p>BestDealNaija Team</p>
  <p><small>Note: replies to this email address are not monitored.</small></p>
{% endblock %}