.logo-img{ 
	width:261px !important 
}
.luday_navlinks{
	@apply block pr-4 pl-4  rounded md:bg-transparent text-black hover:bg-gray-100 py-6 px-28;
	font-style:normal; font-weight:700; font-size:14px; line-height:70px; color:#111111;
 	}
.nav{ padding-right:18px }
